.theme-footer{
	background: var(--blue);
	color: var(--light);
	padding: 20px 0;
}
.theme-footer h1, .theme-footer h2,.theme-footer h3,.theme-footer h4,.theme-footer h5,.theme-footer h6{
	color: var(--light);
}
.social-aria a{
	border: 2px solid black;
	border-radius: 50%;
	padding: 14px;
	width: 20px;
	height: 20px;
	display: block;
	text-align: center;
	position: relative;
	float: left;
	margin-left: 20px;
	-webkit-filter: invert(1);
	        filter: invert(1)
}

.social-aria a:first-child{
	margin-left: 0px;
}
.social-aria a:hover {
	-webkit-filter: invert(.6);
	        filter: invert(.6)
}
.social-aria img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate( -50%, -50%);
	        transform: translate( -50%, -50%);
	width: 18px;
	height: auto;
}
#footer-sponsors{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	    grid-template-columns: repeat(4, 1fr);
	list-style: none;
	
}
.footer-widget{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	    grid-template-columns: repeat(4, 1fr);
	list-style: none;
}
#footer-sponsors img{
	width: 100%;
	height: auto;

	
}
.social-aria{
	overflow: hidden;
	
}
.copyright{
	font-size: .6em;
	text-align: right;
}
.footer-content{
	padding: 20px;
}
.theme-footer a{
	color: var(--yellow);
}

@media only screen  and (min-width : 1224px) {
	#footer-sponsors{
		max-width: 500px;
		grid-gap: 20px;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (1fr)[4];
		    grid-template-columns: repeat(4, 1fr)
	}	
	.footer-content{
		padding: 0;
		width: 1224px;
		margin: 0 auto;
	}

}