.home main{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "top" "middle" "bottom";

}

#images-pages{
    margin: 90px 0;
}
#images-pages ul{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 180px 180px 180px;
        grid-template-rows: 180px 180px 180px;
    list-style: none;
}
#images-pages li{
    position: relative;
}
#images-pages li img{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-filter: unset;
            filter: unset;
    transition: -webkit-filter .2s ease;
    transition: filter .2s ease;
    transition: filter .2s ease, -webkit-filter .2s ease;
}
#images-pages li a{
    display: block;
    color: var(--light);
    width: 100%;
    height: 100%;
}
#images-pages li a div{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition:-webkit-transform .1s;
    transition:transform .1s;
    transition:transform .1s, -webkit-transform .1s;

}
#images-pages li:hover{
    z-index: 100;
}
   
#images-pages li a:hover{
    color: var(--yellow);
}
#images-pages li a:hover div{
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    //filter: contrast(190%) grayscale(75%);
}
#images-pages li h3{
    position: absolute;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    left: 0;
    right: 0; 
    background: var(--transDark);
    color: var(--yellow);
}
#images-pages li a:hover h3{
    color: var(--visited);
}
.latestNews{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: top;
    text-align: center;
    max-width: 1224px;
    place-self: center;
    align-self: center;
    justify-self:center;
    margin-bottom: 40px;
}
.news{
    margin-bottom: 40px;
}
.scrollMore{
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    background: var(--bluesecond);
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

}
.scrollMore::after{
    margin-top: 8px;
        margin-left: 12px;
    content: "";
    width: 40%;
    height: 40%;
    border: solid var(--yellow);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    display: inline-block;
    position: absolute;
}
.scrollMore:hover{
    background: var(--blue);
}

@media only screen  and (min-width : 1224px) {
    .latestNews{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: middle
    }
    #images-pages ul{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 350px;
            grid-template-rows: 350px;
    }
    #images-pages ul li:nth-child(1){
        -ms-grid-column:1;
    }
    #images-pages ul li:nth-child(2){
        -ms-grid-column:2;
    }
    #images-pages ul li:nth-child(3){
        -ms-grid-column:3;
    }
    .scrollMore{
        width: 75px;
        height: 75px;
    }
    .scrollMore::after{
        margin-top: 12px;
        margin-left: 20px;
    }       
}