:root{
	/*--------------------------------------*/
	--max-width: 		1362px;
	--max-width: 		400px;
	/*--------------------------------------*/
	--dark: 			rgb(40,39,39);
	--transDark: 		rgba(40,39,39,0.8);
	--secondGray:		rgb(208,208,208);
	/*--------------------------------------*/
	--light: 		#fff;
	/*--------------------------------------*/
	--blue: 		rgb(16, 58, 93);
	--transBlue: 	rgba(16, 58, 93,0.9);
	--bluesecond: 	rgb(0,15,159);
	/*--------------------------------------*/
	--yellow: 		rgb(255, 221, 0);
	--visited: 		rgb(144, 140, 31)
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*fonts'*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif; 
}
h1, h1 a, h2, h2 a{
	color: var(--bluesecond);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
h1 a:hover, h2 a:hover{
	color: var(--blue);
}
h3,h4,h5,h6{
	color: var(--bluesecond);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2.5em;
}
h3{
	font-size: 1.9em;
}
h4{
	font-size: 1.6em;
}
h5{
	font-size: 1.3em;
}
h6{
	font-size: 1em;
}
html {
  scroll-behavior: smooth;
}
.button{
	background: var(--blue);
	padding: 10px;
	font-weight: 600;
	color: var(--light);
	border-radius: 50px;
	display: inline-block;
	color: var(--yellow);
}
.button:hover{
	background: var(--bluesecond);
	text-decoration: none;
}


/*--------------------------------------------------------------------------------------------------------*\
||------------------------------------------------MENY----------------------------------------------------||
\*--------------------------------------------------------------------------------------------------------*/
#menu-bar{
	background: var(--transBlue);
	position: fixed;
	top: 0;
	width: 100%;
	margin-bottom: 28px;
	z-index: 50;
}
.admin-bar #menu-bar{
	top: 46px;
}

#menu-bar .custom-logo-link{
	position: absolute;
	display: block;
	width: 50px;
	height: auto;
	left: 50%;
	top: 5px;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 2;
}
#menu-bar .custom-logo-link img{
	width: 100%;
	height: auto;
}
#hamburger{
	padding: 14px;
	cursor: pointer;
	width: 58px;
}
#hamburger div{
	width: 30px;
	height: 3px;
	border-radius: 1.5px;
	background: var(--yellow);
	margin-bottom: 7px;
    transition: .2s transform;
    -webkit-transform-origin: 35% 50%;
            transform-origin: 35% 50%;
}

#hamburger div:first-child{
	-webkit-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;
}
#hamburger div:last-child{
	margin-bottom: 0px;
	-webkit-transform-origin: 0% 50%;
	        transform-origin: 0% 50%;
}
#hamburger.close div{	
	-webkit-transform: scaleX(0.1);	
	        transform: scaleX(0.1);
}
#hamburger.close div:first-child{
	-webkit-transform: rotate(42deg);
	        transform: rotate(42deg);
}
#hamburger.close div:last-child{
	-webkit-transform: rotate(-42deg);
	        transform: rotate(-42deg);
}

#menu-bar #topMeny{
	position: absolute;
	background: var(--transBlue);
	min-height: calc(100vh - 51px);
	width: 80%;
	max-width: 340px;
	overflow: hidden;
	left: -80%;
	transition: left .2s; 
}
#menu-bar #topMeny.visabale{
	left: 0;
}

#menu-bar #topMeny ul{
	list-style: none;
	padding: 0 20px;
}
#menu-bar #topMeny li a{
	display: block;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 0;
	border-bottom: 2px solid var(--yellow);
	color: var(--yellow);
}
#menu-bar #topMeny li a:visited{
	color: var(--visited);
}
#menu-bar #topMeny li.current-menu-item a,
#menu-bar #topMeny li a:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000c9f+0,103a5d+100&1+25,0.5+60,0+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,12,159,1) 0%,rgba(4,24,143,1) 25%,rgba(10,40,120,0.5) 60%,rgba(16,58,93,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c9f', endColorstr='#00103a5d',GradientType=1 ); /* IE6-9 */
	color: var(--yellow);
}

body #wrapper{
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 540px auto auto;
	    grid-template-rows: 540px auto auto;
	min-height: 100vh;
}
body.home #wrapper{
	-ms-grid-rows: 100vh auto auto;
	    grid-template-rows: 100vh auto auto;
}
body #wrapper > *:nth-child(1){
	-ms-grid-row:1;
}
body #wrapper > *:nth-child(2){
	-ms-grid-row:2;
}
body #wrapper > *:nth-child(3){
	-ms-grid-row:3;
}
/*/headerimage*/
body.home > #wrapper > header{
	height: 100vh;
}
body #wrapper > header{
	height: 540px;
	position: relative;
}
.main-header{
	background-size: cover;
	overflow: hidden;
	background-position: bottom;
}

#wp-custom-header-video{
	height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;

}
#wp-custom-header-video-button{
	position: absolute;
    bottom: 75px;
    right: 75px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 0;
    font-weight: 600;
    background-color: var(--bluesecond);
    color: var(--yellow);
    cursor: pointer;
}
#wp-custom-header-video-button:focus {
    outline: none;
}
#wp-custom-header-video-button:hover{
	background-color: var(--blue);

}
#wp-custom-header-video-button.wp-custom-header-video-pause{
    background-color: var(--yellow);
    color: var(--bluesecond);

}
#wp-custom-header-video-button.wp-custom-header-video-pause:hover{
    background-color: var(--visited);
}
div.qick{
	margin-top: 10px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 2fr 1fr;
	    grid-template-columns: 2fr 1fr;
	margin-left: 20px;
	justify-items: center;
}
#user{
	-ms-grid-column: 2;
	    grid-column-start: 2;
}
#user a:hover img{
	-webkit-filter: invert(.2);
	        filter: invert(.2);
}
#user img{
	height: 28px;
}
.qick .social-aria{
	-ms-grid-column: 1;
	    grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	    grid-template-columns: 1fr 1fr;

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
	.admin-bar #menu-bar {
	    top: 32px;
	}
	/*#wp-custom-header-video{
		width: 100%;
		height: auto;
		transform: translateX(0);
		position: absolute;
    	bottom: 0px;
	}*/	
	#hamburger{
		display: none;
	}
	#menu-bar #topMeny{
		width: 60%;
		margin: 0 auto;
		left: auto;
		position: relative;
		max-width: 100%;
		min-height: 0px;
		background: none;
		overflow:visible;
	}
	#user{
		position: absolute;
		right: -80px;
		top: 10px;
	}
	#menu-bar{
		height: 52px;
	}
	#menu-bar #topMeny ul{
		display: -ms-grid;
		display: grid;
		
		-ms-grid-columns: (minmax(84px, 1fr))[3] 85px (minmax(84px, 1fr))[3] ;
		grid-template-columns: repeat( 3, minmax(84px, 1fr)) 85px repeat( 3, minmax(84px, 1fr)) ;
	}
	#menu-bar #topMeny ul li{
		text-align: center;
	}
	#menu-bar #topMeny ul li:nth-child(1){
		-ms-grid-column: 1;
	}
	#menu-bar #topMeny ul li:nth-child(2){
		-ms-grid-column: 2;
	}
	#menu-bar #topMeny ul li:nth-child(3){
		-ms-grid-column: 3;
	}
	#menu-bar #topMeny ul li:nth-child(4){
		-ms-grid-column: 5;
	}
	#menu-bar #topMeny ul li:nth-child(5){
		-ms-grid-column: 6;
	}
	#menu-bar #topMeny ul li:nth-child(6){
		-ms-grid-column: 7;
	}
	#menu-bar #topMeny ul li:nth-child(7){
		-ms-grid-column: 8;
	}
	#menu-bar #topMeny ul li:nth-child(8){
	}
	.empty{
		-ms-grid-column: 4;
		grid-column: 4;
    	-ms-grid-row: 1;
    	    grid-row-start: 1;
	}
	#topMeny .social-aria{
		display: none;
	
	}
	#menu-bar #topMeny li.current-menu-item a,
	#menu-bar #topMeny li a:hover{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#103a5d+0,103a5d+0,000c9f+50,103a5d+100&0+0,0+0,0.5+25,1+50,0.5+75,0+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(16,58,93,0) 0%,rgba(8,35,126,0.5) 25%,rgba(0,12,159,1) 50%,rgba(8,35,126,0.5) 75%,rgba(16,58,93,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00103a5d', endColorstr='#00103a5d',GradientType=1 ); /* IE6-9 */
	}
	
}
header h1{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%);
	        transform: translate(-50%);
	text-shadow: 1px 1px 3px var(--dark);
	color: var(--secondGray);
	text-align: center;
}